*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
/*      width: 90vw;
    padding-top: 55px;
    margin: 0 auto; */
     display: grid;
    place-content: center;
    min-block-size:100vh;
    max-width:1440px ; 
    text-align: center;
    background-color:  hsl(212, 45%, 89%);
/*     font:url("https://fonts.google.com/specimen/Outfit") */
}
.container{
    /* display: grid;
    grid-column: auto; */
    margin: auto;
    width:400px;
    padding:20px;
    background-color:hsl(0, 0%, 100%);
    border-radius: 20px;
    justify-content: center;
    height: 600px;
}
img{
    width: 370px;
    height: 350px;
    font-weight: 400;
    border-radius: 20px;
}
p{
    font-size: 15px;
    padding: 10px;
    width: 250px;
    font-weight: 400;
    -ms-text-size-adjust: auto;
    text-align: center;
}
h2{
    padding-top: 10px;
    font-weight: 700;
}
.info{
    padding: 10px;
    width: 300px;
    margin: auto;
    text-align: center;
    text-decoration: solid;
}
@media screen and (min-width:375px) {
   
    .container{
        display: grid;
        margin: auto;
        width:400px;
        padding:20px;
        background-color:hsl(0, 0%, 100%);
        border-radius: 20px;
        justify-content: center;
        height: 600px;
        place-items: center;
    }
    img{
        width: 370px;
        height: 350px;
        font-weight: 400;
        border-radius: 20px;
    }
    p{
        font-size: 15px;
        padding: 10px;
        width: 250px;
        font-weight: 400;
        -ms-text-size-adjust: auto;
        text-align: center;
    }
    h2{
        padding-top: 10px;
        font-weight: 700;
    }
    .info{
        padding: 10px;
        width: 300px;
        margin: auto;
        text-align: center;
        text-decoration: solid;
    }
}
